<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/capstone_css.css') }}">

</head>

   <body>
     {% if sub%}
      {% for l in sub %}
<table border="1">
            <p > Subject : {{l.subject}} Code :{{l.code}}</p>
</div>
</div>
{% endfor %}
{% endif %}
<form action = "{{url_for('check')}}" method = "POST">
    {% if ele %}
    <div class="dmf">
      <table border=1 align="center">

  {% for obj in ele %}
      <tr>
          <td>
              <input type="radio" name="chkbox" value="{{obj}}"> {{obj.subject}}
              </td>
          <td>
              {{obj.code}}
          </td>
      </tr>
  {% endfor %}
  </table>
    </div>


{% endif %}
{% if labs %}
{% for l in labs %}
<div class="link">
      <p> Subject :{{l.subject}} Code:{{l.code}}</p>
</div>
</div>
{% endfor %}
{% endif %}
{% if labelec %}
<div class="jan">
  <table border=1 align="center">
  {% for obj in labelec %}
  <tr>
      <td>
          <input type="radio" name="chkbox2" value="{{obj}}"> {{obj.subject}}
        </td>
      <td>
          {{obj.code}}
      </td>
  {% endfor %}
  </table>
</div>

{% endif %}
<input  class="btn btn-primary"type = "submit" value = "submit" />
</form>
   </body>
</html>
