<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <body>

    <div class="container">
        <center><b><h1>AUTOMATION OF SEMESTER HALLTICKET</h1></b>
        </center>

        <p></p>
        <p></p>
        <p></p>
      <center>
        <div class="" style="align:center">
          <a href="login" style="width:100px"class="btn form-control btn-success">Login</a>
          <a href="register"style="width:100px" class="btn form-control btn-primary">Register</a>
        </div>
</center>
  </div>


  </body>
</html>
