<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sem Subjects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Select and get your hallticket</h2>
        <form class="form-group" method="post" action="\semester">
          <div class="form-group">
            <label for="course">Course</label>
            <select class="form-control" name="course">
                <option>B.Tech</option>
                <option>M.C.A</option>
                <option>M.Tech</option>
            </select>
          </div>
          <div class="form-group">
            <label for="reg">Regulation</label>
            <select class="form-control" name="reg">
                <option>Regular</option>
                <option>Supplementary</option>
            </select>
          </div>
          <div class="form-group">
            <label for="branch">Branch</label>
            <select class="form-control" name="branch">
                <option>IT</option>
                <option>CSE</option>
                <option>ECE</option>
                <option>MECH</option>
                <option>EEE</option>
                <option>Chem</option>
                <option>CIVIL</option>
            </select>
          </div>
          <div class="form-group">
              <label for="sem">Semester</label>
              <select class="form-control" name="sem">
                <option>One</option>
                <option>Two</option>
                <option>Three</option>
                <option>Four</option>
                <option>Five</option>
                <option>Six</option>
                <option>Seven</option>
                <option>Eight</option>
             </select>
          </div>
          <div class="form-group">
              <label for="semMonth">Exam Month</label>
              <select class="form-control" name="semMonth">
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
           </select>
          </div>
          <div class="form-group">
              <label for="year">Year</label>
              <select class="form-control" name="year">
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
             </select>
          </div>
          <!-- <label for="userpsw">Password</label>
          <input type="password" class="form-control" name="userpsw" placeholder="password"> -->
          <p></p>
          <a href="logout" class="btn btn-primary">LOGOUT</a>
        <input type="submit" class="btn btn-primary" name="submit" value="SUBMIT">
          </form>
      </div>
    </div>


  </body>
</html>
