<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <body>
    <!-- <nav class=" navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Django</a>
      </div>
    </nav> -->

    <div class="container">
      <div class="jumbotron">
        <h1>Automatic Hallticket Generator</h1>
        <p></p>
        <form class="form-group" method="POST" action="http://localhost:5000/login">
          <label for="userrol">Roll Number</label>
          <input type="text" class="form-control" name="userrol" placeholder="roll number">
          <label for="userpsw">Password</label>
          <input type="password" class="form-control" name="userpsw" placeholder="password">
          <p></p>
        <input type="submit" class="btn btn-primary" name="login" value="LOGIN">
          </form>
      </div>

    </div>

  </body>
</html>
